* {
    background:    #282c34FF;
    background-alt:    #282a36FF;
    foreground:    #f8f8f2FF;
    border:    #00000000;
    selected:    #8be9fdFF;
    urgent:    #EC407Aff;
	logo:    #EC407Aff;
	on:    #61C766ff;
	off:    #EC7875ff;
}
